<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <title>Bone Fracture Detection</title>

    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }

        .hide {
            display: none;
        }
    </style>
</head>

<body class="min-vw-screen min-h-screen flex flex-col gap-3 bg-gray-100 dark:bg-gray-800">
    <nav class="flex justify-between items-center px-5 py-4 bg-white dark:bg-gray-900 shadow-md ">
        <h3 class="text-3xl font-bold text-blue-900 dark:text-gray-100">
            Fracture Detector
        </h3>
        <ul class="text-xl dark:text-gray-200 text-gray-800 flex gap-4 mr-8">
            <li class="mx-2">
                <a href="/">
                    Home
                </a>
            </li>
            <li class="mx-2">
            </li>
        </ul>
    </nav>
    <main class="flex flex-col items-center justify-center gap-4 py-5 my-7 h-100">
        <div class="flex flex-col items-center gap-3">
            <h2 class="text-5xl font-bold text-gray-800 dark:text-gray-100">
                Detect Fracture Easily
            </h2>
            <p class="text-2xl text-gray-600 dark:text-gray-300">
                Upload your xray image and get analysis in few seconds
            </p>
        </div>
        <form action="/handle-upload" enctype="multipart/form-data" method='POST'
            class="flex flex-col items-center my-3">
            <div class="flex items-center">
                <input type="file" name="file" class="text-xl px-2 dark:text-gray-300">
                {% if status == 0 %}
                <button type="submit" id="uploadBtn"
                    class="bg-blue-800 text-gray-100 px-5 py-3 rounded-md text-2xl hover:shadow-lg hover:bg-blue-600 transition ease-in">
                    Scan Xray
                </button>
                {% else %}
                <button type="button"
                    class="bg-blue-800 text-gray-100 px-5 py-3 rounded-md text-xl hover:shadow-lg hover:bg-blue-700 transition ease-in">
                    <a href="/">
                        Reset
                    </a>
                </button>
                {% endif %}
            </div>
            <br>
            <div class="bg-white w-full mb-3" style="height: 1px;"></div>
            {% if message == "" %}
            <div class="p-2" id="infoBtn">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10 fill-gray-400 hover:fill-gray-100 hover:shadow-lg transition ease-in"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            {% endif %}
        </form>
        <div class="container-fluid">
            {% if message %}
            <div class="row">
                <div class="col-6">
                    <h4 class="text-xl {% if msg_type=='error' %} text-red-800 dark:text-red-400 {% else %} text-blue-800 dark:text-red-400 {% endif %} font-medium
                    flex gap-3 items-center justify-center">
                        {% if msg_type=="error" %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        {% endif %}
                        {{message}}
                    </h4>
                </div>
            </div>
            {% else %}
            <div class="container text-white hide" id="info">
                <div class="row">
                    <div class="col">
                        <h3 class="text-gray-200 font-bold py-1 fs-3">Please take care of this while uploading xray
                            image
                        </h3>
                        <ul class="text-gray-300 font-normal fs-5" style="list-style:decimal">
                            <li class="py-1">
                                We currently support png and jpg image format
                            </li>
                            <li class="py-1">
                                Only upload xray image containing single body part
                            </li>
                            <li class="py-1">
                                We currently support only bone detection of wrist and forearm
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
    <script defer>
        const infoBtn = document.getElementById('infoBtn');
        infoBtn.addEventListener("click", () => {
            document.querySelector("#info").classList.toggle("hide")
        })
    </script>
</body>

</html>